<% layout('layout/boilerplate') -%>
 <section class="container rounded " id="bgh">
  <div  class="content" >
    <div class="row align-items-center mb-3">
      <div class="col-sm-6  ">
        <div class=" ps-5">
          <img src="/image/payment.jpeg" alt="" class="img-fluid">
        </div>
      </div>

      <div class="col-sm-6 back mb-3 border-sm-bottom"  id="textbg">
        <div class=" text-start pt-5 ps-5" id="homefont">
          <h3 class="d-block"><span> EASE</span> <span> OF</span> PAYMENT</h3>
        </div>
      </div>
     
      <div class="col-sm-6 back order-2 order-sm-1 mb-3" id="textbg">
        <div class=" text-start pt-5 ps-5" id="homefont">
          <h3 class="d-block"><span> SHOP</span> <span> WITH</span> SHOPPEX</h3>
        </div>
      </div>
     
      <div class="col-sm-6 order-1 order-sm-2 mb-3">
        <div class=" ps-5" >
          <img src="/image/shoppex white.png" alt="" class="img-fluid " id="image" >
        </div>
      </div>

      
     

  </div>
 </section>


